<footer class="footer">
    <div class="background"></div>

    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-3 medium-5 ">
                <div class="info">
                    <h6>Contact</h6>

                    <div class="flex-container">
                        <!-- TODO: Export icon-ponter without extra space -->
                        <span>
                            <i class="icon-phone"></i>
                        </span>

                        <div class="info-content">
                            <p>
                                Henri Nouwenstraat 34 <br>
                                3863 HV Nijkerk
                            </p>

                            <p>
                                <a style="text-transform: lowercase;" href="mailto:info@joinz.nl">info@joinz.nl</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="info">
                    <h6>VRAGEN? BEL ONS</h6>

                    <div class="flex-container">
                        <span>
                            <i class="icon-phone"></i>
                        </span>

                        <div class="info-content">
                            <p>
                                <a href="tel:+31332464533">033 2464 533</a>
                                Maandag t/m vrijdag <br>
                                09:00-17:00
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cell large-5 medium-7">
                <div class="grid-x grid-margin-x">
                    <div class="cell small-7">
                        <h6>KLANTENSERVICE</h6>

                        <ul class="vertical menu">
                            <li>
                                <a href="/joinz/contact"> Contact </a>
                            </li>
                            <li>
                                <a href="/joinz/upload-logo"> Upload logo/drukbestand </a>
                            </li>
                            <li>
                                <a href="/joinz/order-process"> Bestelproces </a>
                            </li>
                            <li>
                                <a href="/joinz/faq"> Veel gestelde vragen </a>
                            </li>
                            <li>
                                <a href="/"> Algemene voorwaarden </a>
                            </li>
                        </ul>
                    </div>

                    <div class="cell small-5">
                        <h6>Categorieën</h6>

                        <ul class="vertical menu">
                                <li>
                                    <a href="/wijn-met-eigen-etiket/">
                                        Wijn met eigen etiket
                                    </a>
                                </li>
                            <li>
                                <a href="/bier-met-eigen-etiket/">
                                    Bier met eigen etiket
                                </a>
                            </li>
                            <li>
                                <a href="/Borrelplank-graveren/">
                                    Borrelplank graveren
                                </a>
                            </li>
                            <li>
                                <a href="{{ seoUrl('frontend.navigation.page', { navigationId: "a27304d96b5f495e95f7384d3a91d827" }) }}">
                                    Tennisballen bedrukken
                                </a>
                            </li>
                            <li>
                                <a href="{{ seoUrl('frontend.navigation.page', { navigationId: "cbd842978af4478690d015e8e4db238c" }) }}">
                                    Bedrijfsgadgets
                                </a>
                            </li>
                            <li>
                                <a href="/wijn-met-eigen-etiket/prosecco/">
                                    Prosecco met eigen etiket
                                </a>
                            </li>
                            <li>
                                <a href="/kladblokken/">
                                    Kladblok bedrukken
                                </a>
                            </li>
                            <li>
                                <a href="/bluetooth-speakers/">
                                    Speakers Bedrukken
                                </a>
                            </li>
                            <li>
                                <a href="/poncho-s/">
                                    Poncho's bedrukken
                                </a>
                            </li>
                            <li>
                                <a href="/duurzame-relatiegeschenken/">
                                    Duurzame relatiegeschenken
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="cell large-4 medium-12">
                <div class="signup">
                    <h6>Inschrijven voor de nieuwsbrief</h6>

                    <div class="input-group">
                        <input class="input-group-field" type="email" placeholder="emailadres">

                        <button type="submit" class="button">
                            <i class="icon-arrow-right-white"></i>
                        </button>
                    </div>
                </div>

                <!-- TODO: Export social media icons without the extra space -->

                <div class="social">
                    <h6>Volg ons</h6>

                    <ul class="menu">
                        <li>
                            <a href="https://www.facebook.com/JoinzRelatiegeschenken/" target="_blank">
                                <i class="icon-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UCNkgQGdL8HueVwP6Z7hSLbw" target="_blank">
                                <i class="icon-youtube"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://nl.linkedin.com/company/joinz-relatiegeschenken" target="_blank">
                                <i class="icon-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href=" https://www.instagram.com/joinzrelatiegeschenken/" target="_blank">
                                <i class="icon-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="bottom flex-container align-justify align-middle">
            <p>© 2022 Joinz •  Alle rechten voorbehouden</p>

            <a href="/">
                <img src="{{ asset('bundles/joinztheme/img/svg/logo-joinz-white.svg' , 'asset') }}" alt="Joinz logo">
            </a>

            <ul class="menu">
                <li>
                    <img src="{{ asset('bundles/joinztheme/img/svg/logo-ideal.svg' , 'asset') }}" alt="">
                </li>
                <li>
                    <img src="{{ asset('bundles/joinztheme/img/svg/logo-mastercard.svg' , 'asset') }}" alt="">
                </li>
                <li>
                    <img src="{{ asset('bundles/joinztheme/img/svg/logo-visa.svg' , 'asset') }}" alt="">
                </li>
                <li>
                    <img src="{{ asset('bundles/joinztheme/img/svg/logo-paypal.svg' , 'asset') }}" alt="">
                </li>
            </ul>
        </div>
    </div>
</footer>
<!--Start of Zendesk Chat Script-->
<script type="text/javascript">
    window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
        d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
    _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
        $.src="https://v2.zopim.com/?ffz9EEIeEE2yrqDKrNV0khyAxfKV9R1I";z.t=+new Date;$.
            type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
</script>
<!--End of Zendesk Chat Script-->
